* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --primary-teal: #014e56;
    --dark-teal: #004047;
    --deep-teal: #012f34;
    --card-teal: #012a2f;
    --accent-coral: #f67e7e;
    --accent-cyan: #79c8c7;
    --text-light: #ffffff;
}

body {
    max-width: 1440px;
    margin: 0;
    font-family: "Livvic", sans-serif;
    background: #ffffff;
    color: var(--text-light);
}

.container {
    max-width: 1110px;
    margin: 0 auto;
    padding: 0;
}

/* header */
.about-hero {
    height: 517px;
    padding: 0 0 120px;
    background-color: var(--primary-teal);
    background-image: url("../assets/icons/bg-pattern-about-1-mobile-nav-1.svg");
    background-repeat: no-repeat;
    background-position: right -100px bottom;
    background-size: 200px 200px;
}

.about-hero__content {
    margin: 53px 165px 120px;
    max-width: 1110px;
    height: 156px;
    display: flex;
    gap: 30px;
}

.about-hero h1 {
    height: 100px;
    width: 350px;
    color: #FFFFFF;
    font-family: 'Livvic', sans-serif;
    font-weight: bold;
    font-size: 64px;
    line-height: 100px;
}

.about-hero__content div {
    display: flex;
    flex-direction: column;
    height: 156px;
    width: 730px;
}

.hr-about {
    background-color: #F67E7E;
    border: none;
    width: 50px;
    height: 4px;
    margin-bottom: 40px;
}

.about-hero p {
    max-width: 730px;
    max-height: 112px;
    font-size: 18px;
    line-height: 28px;
    font-weight: 600;
}

/* Section directors */

/* Korteliu sekcija 3x2 tinklelis */
.directors {
    max-width: 1440px;
    height: 1002px;
    padding: 92px 0 130px;
    position: relative;
    padding: 64px 0 90px;
    background-color: var(--dark-teal);
    background-image: url("assets/icons/bg-pattern-about-2-contact-1.svg"), url("assets/icons/bg-pattern-home-4-about-3.svg");
    background-repeat: no-repeat, no-repeat;
    background-position: left -100px top 0, right -100px bottom -100px;
    overflow: hidden;
}

.directors::before {
    content: "";
    position: absolute;
    left: -100px;
    top: 0;
    width: 200px;
    height: 200px;
    background-image: url("../assets/icons/bg-pattern-about-2-contact-1.svg");
    background-repeat: no-repeat;
    background-size: contain;
    z-index: 0;
}

.directors::after {
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;
    width: 147px;
    height: 100px;
    background-image: url("../assets/icons/bg-pattern-home-4-about-3.svg");
    background-repeat: no-repeat;
    background-size: 147px 100px;
    z-index: 0;
}

.directors>.container {
    position: relative;
    z-index: 1;
}

.directors h2,
.clients h2 {
    text-align: center;
    font-size: 48px;
    line-height: 48px;
    margin-top: 75px;
    padding-bottom: 65px;
}

.clients h2 {
    position: relative;
    top: -20px;
}

.directors-grid,
.clients-grid,
.social-links {
    list-style: none;
}

.directors-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 30px;
    row-gap: 48px;
}

.director-card article {
    width: 350px;
    max-width: 100%;
    height: 253px;
    background: var(--deep-teal);
    text-align: center;
    padding: 2rem 1.5rem 3.2rem;
    position: relative;
}

.director-card {
    width: 350px;
    height: 281px;
    display: flex;
}


.director-card img {
    display: block;
    width: 96px;
    height: 96px;
    margin: 0 auto 16px;
    top: -12px;
    border-radius: 48px;
    border: 2px solid #c4fffe;
}

.director-card h3 {
    color: var(--accent-cyan);
    font-size: 1.1rem;
    line-height: 28px;
    margin-bottom: 0;
    top: -10px;
}

.director-card--quote h3 {
    top: -21.5px;
}

.director-card .role {
    width: 302px;
    height: 25px;
    font-size: 15px;
    line-height: 25px;
    font-style: italic;
    font-weight: 500;
    top: -10px;
}

.card-toggle {
    position: absolute;
    left: 50%;
    bottom: -13px;
    transform: translateX(-50%) translateY(15px);
    width: 56px;
    height: 56px;
    border: 0;
    border-radius: 50%;
    background: var(--accent-coral);
    color: var(--deep-teal);
    font-size: 2rem;
    line-height: 1;
    font-weight: 700;
    cursor: pointer;
}

.card-toggle img {
    height: 16px;
    width: 16px;
}

.card-toggle:hover {
    background-color: #79C8C7;
}

.director-card--quote article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.75rem;
}

.director-card--quote blockquote {
    width: 254px;
    height: 75px;
    font-size: 0.9rem;
    line-height: 1.5rem;
    position: relative;
    top: -20px;
}

/* Klientu dalis */
.clients {
    height: 437px;
    padding: 85px 0 129px;
    position: relative;
    overflow: hidden;
    background-color: var(--deep-teal);
    background-image: url("assets/icons/bg-pattern-home-4-about-3.svg");
}

.clients::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 200px;
    height: 200px;
    background-image: url("../assets/icons/bg-pattern-about-4.svg");
    background-repeat: no-repeat;
    background-size: 200px 200px;
    z-index: 0;
}

.clients-title {
    margin: 0;
    padding: 0;
}

.clients-grid {
    margin: 0;
    padding: 0;
    width: 1110px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
    position: relative;
    top: -23px;
}

/*Tablet*/
@media (max-width: 768px) {
    .about-hero {
        height: 556px;
        width: 768px;
        background-position: right -100px bottom -100px;
    }

    .hr-about {
        display: none;
    }

    .about-hero__content {
        align-items: center;
        text-align: center;
        flex-direction: column;
        height: 220px;
        width: 683px;
        margin-left: 45px;
        margin-right: 40px;
        margin-bottom: 112px;
        margin-top: 32px;
        gap: 24px;
    }

    .hr-about {
        display: none;
    }

    .about-hero__content div {
        align-items: center;
    }

    .about-hero p {
        width: 457px;
        height: 140px;
        line-height: 28px;
        font-size: 15px;
        transform: translate(-3px, 3px);
    }

    /* Korteliu sekcija 2x3 tinklelis */
    .directors {
        width: 768px;
        height: 1219px;
        padding-top: 27px;
    }

    .directors>.container {
        width: 573px;
    }

    .directors h2 {
        font-size: 32px;
        line-height: 32px;
        margin-bottom: 0px;
    }

    .directors-grid {
        grid-template-columns: repeat(2, 1fr);
        column-gap: 10px;
        row-gap: 48px;
        transform: translateY(-20px);
    }

    .director-card {
        width: 281px;
        height: 281px;
    }

    .director-card .role {
        width: 233px;
    }
}

/*Mobile*/
@media (max-width: 375px) {
    .about-hero {
        height: 520px;
        width: 375px;
    }

    .about-hero__content {
        height: 252px;
        width: 327px;
        margin-left: 24px;
        margin-right: 24px;
        margin-bottom: 108px;
        margin-top: 32px;
        gap: 16px;
    }

    .about-hero h1 {
        height: 40px;
        width: 327px;
        line-height: 40px;
        font-size: 40px;
    }

    .about-hero p {
        width: 327px;
        height: 196px;
        line-height: 28px;
        font-size: 15px;
    }
}