* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    max-width: 1440px;
}

header {
    background-color: #014E56;
}

main {
    background-color: #014E56;
    padding: 55px 164px 0;
    position: relative;
    overflow: hidden;
    height: 598px;
}

#icon-left {
    position: absolute;
    left: -100px;
}

#icon-right {
    position: absolute;
    right: -100px;
    bottom: 0;
}

h1 {
    color: #FFFFFF;
    font-family: 'Livvic', sans-serif;
    font-weight: bold;
    font-size: 64px;
    line-height: 64px;
    height: 115px;
    width: 350px;
    padding-top: 15px;
}

h2 {
    color: #F67E7E;
    font-family: 'Livvic', sans-serif;
    font-weight: bold;
    margin-bottom: 32px;
    font-size: 32px;
    height: 48px;
}

.about-us div {
    display: flex;
    height: 72px;
    width: 540px;
    margin-bottom: 8px;
}

.about-us div p {
    height: 48px;
    width: 445px;
    padding-top: 20px;

    line-height: 28px;
    letter-spacing: 0;
    font-size: 18px;
    margin-left: 23px;
}

#icon-person {
    margin-left: 7px;
}

p {
    display: flex;
    align-items: center;
    color: #FFFFFF;
    font-family: 'Livvic', sans-serif;
    font-size: 18px;
    line-height: 28px;
    font-weight: 600;
}

.contact-section {
    display: flex;
    justify-content: space-between;
    height: 544px;
}

.left-side {
    max-width: 540px;
    height: 434px;
}

.right-side {
    max-width: 540px;
    max-height: 600px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-top: -6px;
}

input,
textarea {
    box-sizing: border-box;
    padding-bottom: 16px;
    padding-left: 14px;
    color: #FFFFFF;
    border: none;
    border-bottom: 1px solid white;
    background: none;
    width: 540px;
    height: 42px;
    font-family: 'Livvic', sans-serif;
    font-size: 15px;
    line-height: 25px;
    font-weight: 600;
}

textarea {
    height: 84px;
    resize: none;
}

input:focus,
textarea:focus {
    outline: none;
    border-color: #79C8C7;
}

input::placeholder,
textarea::placeholder {
    color: #99acae;
}

.error {
    height: 3px;
    width: 111px;
    display: none;
    color: #F67E7E;
    margin-top: 10px;
    font-family: "Livvic";
    font-size: 10px;
    font-weight: 600;
    font-style: italic;
    padding-left: 14px;
}

.error-active {
    border-color: #F67E7E;
}

.error-active::placeholder {
    color: #a07173;
}

#submit {
    margin-top: -2px;
    width: 123px;
    height: 48px;
    background-color: #FFFFFF;
    color: #014E56;
    border-radius: 50px;
    border: none;
    cursor: pointer;
    font-size: 18px;
    line-height: 28px;
    font-weight: 600;
    font-family: 'Livvic', sans-serif;
}