.nav-bar-header {
  height: 48px;
  max-width: 1110px;
  margin: auto;
  margin-top: 73px;
  display: flex;
  align-items: center;
  background-color: #014E56;
}

.logo {
    width: 159.95px;
    height: 40px;
}

.navigation-list {
    display: flex;
    gap: 40px;
    margin-left: 80px;
    padding: 0;
    list-style: none;
}

.navigation-list a {
    color: #ffffff;
    text-decoration: none;
    font-family: "Livvic" system-ui, -apple-system, "Segoe UI", "Roboto", sans-serif;
    font-size: 18px;
    font-weight: semi bold;
    line-height: 28px;
}

.button-top {
    width: 153px;
    height: 48px;
    margin-left: auto;
    border: 2px solid #ffffff;
    border-radius: 24px;
    background: transparent;
    color: #ffffff;
    font-family: "Livvic" system-ui, -apple-system, "Segoe UI", "Roboto", sans-serif;
    font-size: 18px;
    font-weight: semi bold;
    line-height: 28px;
    cursor: pointer;
}
