.section-ready {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    background-color: #F67E7E;
    position: relative;
}
.section-ready img {
    position: absolute;
    bottom: 0px;
    left: 0px;
}
.section-ready div {
    color: #012f34;
    margin-left: 263px;
    margin-right: 260px;
    width: 917px;
    display: flex;
    justify-content: space-between;
}
.section-ready h2 {
    font-size: 48px;
    line-height: 48px;
}
.button-bottom {
    width: 153px;
    height: 48px;
    border: 2px solid #012f34;
    border-radius: 24px;
    background: transparent;
    font-family: "Livvic";
    font-size: 18px;
    font-weight: 600;
    line-height: 28px;
    cursor: pointer;
}
.button-bottom:hover {
    color: #f67e7e;
    background-color: #012f34;
}
